.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;

  .label {
    color: var(--brown-coffee);
    font-family: var(--font-afacad);
    font-size: 16px;
  }

  .input,
  .textarea {
    font-family: var(--font-afacad);
    font-size: 16px;
    padding: 8px 12px;
    border: none;
    border-bottom: 1px solid var(--brown-coffee);
    border-radius: 8px;
    transition: border-color 0.3s ease;
    background-color: transparent;
    &::placeholder {
      color: var(--brown-muted);
    }
    &:focus {
      outline: none;
    }
    &:active,
    &:not(:placeholder-shown) {
      color: var(--primary-color);
    }
    &:disabled {
      &::placeholder {
        color: var(--brown-coffee);
      }
    }
  }

  .textarea {
    resize: vertical;
    min-height: 100px;
  }

  .error {
    border-color: #e63946;
  }

  .errorMessage {
    color: #e63946;
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }
}
