@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  --font-family-bagel-fat-one: var(--font-bagel-fat-one), "Bagel Fat One", sans-serif;
  --font-family-afacad: var(--font-afacad), "Afacad", sans-serif;

  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-background: var(--background-color);
  --color-surface: var(--surface-color);
  --color-border: var(--border-color);
  --color-brown-coffee: var(--brown-coffee);
  --color-brown-dark: var(--brown-dark);
  --color-brown-muted: var(--brown-muted);
}

:root {
  --primary-color: #d96b28;
  --secondary-color: #9a6a52;
  --background-color: #faf7f4;
  --surface-color: #f5f2e7;
  --border-color: #c8c3b0;

  --brown-coffee: #6a4532;
  --brown-dark: #593825;
  --brown-muted: #b89e8d;

  --foreground-color: #171717;
  --afacad-font-family: "Afacad", sans-serif;
  --bagel-font-family: "Bagel Fat One";
}

[data-theme="dark"] {
  --primary-color: #d68c36;
  --secondary-color: #d6c2a6;
  --background-color: #1c1c1c;
  --surface-color: #272624;
  --border-color: #a1725f;

  --brown-coffee: #e3d9d3;
  --brown-dark: #c0b8a7;
  --brown-muted: #bfa8a0;

  --foreground-color: #e3d9d3;
}

body {
  background-color: var(--background-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
